/* div {
    min-width: 18rem;
}

.textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 0.3rem;
    display: block;
    overflow: hidden;
    resize: both;
    min-height: 1rem;
    line-height: 1.25rem;
}

.textarea[contenteditable]:empty::before {
    content: "New Todo";
    color: gray;
} */

textarea {
    display: none;
    resize: none;
    overflow: hidden;
    min-width: 18rem;
    min-height: 1.2rem;
    height: 1.2rem;
    /* max-height: 100px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2rem;
    padding: 0.3rem;
}